appdirs==1.4.4
asgiref==3.3.4
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==4.0.0
distlib==0.3.1
Django==3.2
filelock==3.0.12
gunicorn==20.1.0
heroku==0.1.4
ibm-cloud-sdk-core==3.10.1
ibm-db==3.0.4
# ibm-db-django==1.5.0.0
ibm-watson==5.2.2
idna==2.10
Pillow==8.2.0
psycopg2==2.8.6
pygame==2.0.1
PyJWT==2.1.0
python-dateutil==2.8.2
pytz==2021.1
razorpay==1.2.0
regex==2021.7.6
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
urllib3==1.26.5
virtualenv==20.4.6
virtualenvwrapper-win==1.2.6
websocket-client==1.1.0
whitenoise==5.2.0
wikipedia==1.4.0
